<head>
  <meta name="description" content="Shows New York Times News API data" />
  <!-- <link rel="preload" href="http://api.mediastack.com/v1/news?" as "fetch">
  <link rel="preload" href="https://static01.nyt.com" as "fetch"> -->
</head>

<div class="container">
  <h2
    class="mt-2 text-center"
    style="
      color: #455a64;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    "
  >
    <strong>Mediastack Nouvelles</strong>
  </h2>

  <div *ngFor="let info of infoObject$ | async; trackBy: trackByFn">
    <div class="card mb-2">
      <div class="card-header text-dark fw-bold">
        {{ info.title }}
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ info.description }}...
          <a [href]="info.url" target="_blank" class="card-link"
            >link to article</a
          >
        </p>
        <p class="card-text">
          <span class="badge rounded-pill bg-primary me-2">{{
            info.source
          }}</span
          ><span class="badge rounded-pill bg-secondary me-2">{{
            info.published_at | date
          }}</span>
          <span class="badge rounded-pill bg-success"
            >Cat: {{ info.category }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
